* {
    margin: 0;
    padding: 0;
    body {
        position: relative;
        width: 100%;
        font: 12px/150% SimSun, "Microsoft Yahei", sans-serif;
        color: #333;
        background-color: #fff;
        li {
            list-style: none;
        }
        a {
            text-decoration: none;
            color: #000;
            outline: none;
        }
    }
}